.conteudo{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background{
    height: 100vh;
    position: absolute;
    left: 0;
}

.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
}

input{
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 70%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    color:azure;
}

button{
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 90px;
    margin-right: 12px;
    color: azure;
    background: #2d333b;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

.perfil{
    display: flex;
    margin: 40px 0;
    max-width: 620px;
}

.profile{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1.5px solid #e5e5e5;
    margin-right: 32px;
}

.perfil h3{
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span{
    display: block;
    color: #999999;
    font-size: 16px;
    margin: 0;
}

.perfil p{
    color: #999999;
    font-size: 12px;
    margin: 20px 0 0 0;
    word-wrap: break-word;
    max-width: 620px;
}

.repositorio{
    font-size: 32px;
    margin: 12px 0;
    text-align: center;
    max-width: 620px;
    letter-spacing: 1px;
}



@media (max-width: 860px){

    .info{
        width: 80%;
    } 

    input{
        width: 70%;
    }
}

@media (max-width: 500px){  
    
    .info{
        width: 90%;
    } 

    input{
        width: 60%;
    }
}